@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

@* <p>
    <h3>
        Privacy ? What is this ?
    </h3>
</p> *@

<div class="text-center">
    <img src="~/img/CKTC.jpg" />
</div>